/* Profile */
.profile {
    border: 1px solid #ddd;
    box-shadow: 0 4px 14px rgba(0,0,0,0.10);
    margin-left: 1.5rem;
    margin-right: 0;
    margin-bottom: 1rem;
    border-radius: 4px;
    width: 280px;
    height: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

// adjust tile sizes on smaller screens
@include media-query($on-phone) {
  @media screen and (max-width: $on-phone){

    .profile {
    width: 350px; /* Adjust as needed */
    height: auto;
}

  }
}
