/* Profile */
.profile {
    border: 1px solid #ddd;
    box-shadow: 0 4px 16px rgba(0,0,0,0.09);
    margin-left: 1.8rem;
    margin-right: 0;
    margin-bottom: 1.2rem;
    border-radius: 6px;
    width: 260px;
    height: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

// adjust tile sizes on smaller screens
@include media-query($on-phone) {
  @media screen and (max-width: $on-phone){

    .profile {
    width: 350px; /* Adjust as needed */
    height: auto;
}

  }
}
